* {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-1920 {
    width: 100%;
}

.banner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

.banner-text {
    padding: 197px 0px;
}

.banner-text-header {
    font-weight: 700;
    font-size: 80px;
    width: 708px;
}

.banner-text-article {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    width: 708px;
    text-align: left;
}

.images {
    margin-top: 50px;
    margin-left: 99px;
}

.images img {
    height: 800px;
}

.button {
    margin-top: 32px;
    height: 64px;
    width: 179px;
    text-align: center;
    line-height: 64px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.text-header h2 {
    margin-top: 178px;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.text-header p {
    margin-top: 27px;
    font-size: 18px;
    text-align: center;
    color: #27272783;
}

.flower {
    display: flex;
    width: fit-content;
    margin: 50px auto 0 auto;
}


.flowers {
    width: 464px;
    height: 538px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #a7216249;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0% 0%;
}

.flowers img {
    max-width: 100%;
    max-height: 100%;
}

.flower-text {

    height: 100%;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0% 0%;
}

.flower-text div {
    width: 464px;
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: 12px;
}

.flower-text div>p {
    text-align: center;
    text-decoration: underline;
    line-height: 35px;
    font-size: 24px;
    font-weight: 600;
    color: #272727b0;
}



.row {
    flex-direction: row;
}

.col {
    flex-direction: row;
}

header {
    height: 850px;
    width: inherit;
    background-color: #e5547333;
}

.options {

    width: 1440px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    display: flex;
    align-items: center;
    background-color: #27272725;
}

.cont {
    display: flex;
    justify-content: space-between;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.opt-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opt-img img {
    width: 88px;
    height: 88px;
}

.opt-img p {
    margin-top: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #272727b0;
}

.deal {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 221, 197);
}

.deal .text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text h2 {
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
}

.text span {
    color: #E55473;
}

.text p {
    margin-top: 24px;
    line-height: 30px;
    font-size: 18px;
    color: #272727b0;
}

.deal .img {
    margin-left: 180px;
}

.instagram {
    margin: 130px auto 0 auto;
    width: 1440px;
}

.instagram h2,
p {
    text-align: center;
}

.instagram h2 {
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
}

.instagram p {
    margin-top: 24px;
    line-height: 30px;
    font-size: 18px;
    color: #272727b0;
}

.insta-pics {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.insta-pic {
    width: 342px;
    height: 396px;
    margin: 0 24px 0 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.insta-pic img {
    height: 100%;
}

.subscription {
    margin: 130px auto 0 auto;
    padding: 122px 0px;
    width: 1440px;
    background-image: url(img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription h2,
p {
    text-align: center;
}

.subscription h2 {
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
}

.subscription p {
    margin-top: 16px;
    line-height: 30px;
    font-size: 18px;
    color: #272727b0;
}

.sub {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.email-field {
    width: 700px;
    height: 64px;
    border-radius: 10px;
    border-color: #ffffff00;
    border: 0px;
    margin: 32px 20px 0px 0px;
}

footer {
    margin-top: 128px;
    text-align: center;
    background-color: #111010;
    padding: 130px 0;
}

footer h2 {
    margin-top: 128px;
    font-size: 48pt;
    line-height: 58px;
    font-weight: 900;
    color: #ffffff;
}


footer h2 span {
    color: #E55473;
}

footer .sometext {
    margin-top: 24px;
    line-height: 30px;
    color: #ffffff;
}

footer .fooeterInfo {
    color: #ffffff3f;
    margin-top: 32px;
    line-height: 30px;
}